body {
	background:#303030;
}

#canvasBg  {
	display:block;
	background:#ffffff;
	margin:auto;
}

#card0  {
	display:block;
	margin:-560px auto;
}

#card1  {
	display:block;
	margin:-560px auto;
}

#card2  {
	display:block;
	margin:-560px auto;
}

#card3  {
	display:block;
	margin:-560px auto;
}

#card4  {
	display:block;
	margin:-560px auto;
}

#card5  {
	display:block;
	margin:-560px auto;
}

#card6  {
	display:block;
	margin:-560px auto;
}

#card7  {
	display:block;
	margin:-560px auto;
}

#card8  {
	display:block;
	margin:-560px auto;
}

#card9  {
	display:block;
	margin:-560px auto;
}

#canvasFinger  {
	display:block;
	margin:-560px auto;
}

